<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.olook.netease.song.rank.mapper.AccessTokenInfoMapper">

    <select id="getLatestValidToken" resultMap="tokenMap">
        SELECT * from access_token_info where is_valid = '1'
        order by crt_time desc
        limit 1
    </select>
    <resultMap id="tokenMap" type="me.olook.netease.song.rank.entity.AccessTokenInfo">
        <id column="id" property="id"/>
        <result column="access_token" property="accessToken"/>
        <result column="crt_time" property="crtTime"/>
        <result column="invalid_time" property="invalidTime"/>
        <result column="is_valid" property="isValid"/>
    </resultMap>
</mapper>