<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.olook.netease.song.rank.mapper.SongRankDataMapper">

   <insert id="insertByBatch" parameterType="java.util.List">
      insert into song_rank_data (id, job_record_id,rank,song,singer,ratio)
      values
      <foreach collection="list" item="item" index="index" separator=",">
         (null,#{item.jobRecordId}, #{item.rank},#{item.song},#{item.singer},#{item.ratio})
      </foreach>
   </insert>
   <delete id="deleteByRecordId">
      DELETE  from song_rank_data where job_record_id = #{recordId}
   </delete>
</mapper>