<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.olook.netease.song.rank.mapper.TemplateMessageMapper">

    <update id="updateExpired">
        UPDATE template_msg_record set is_valid = '2' where DATEDIFF(NOW(),crt_time) > 7
    </update>
</mapper>